<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <%= link_to 'Sign out', destroy_user_session_path, method: :get, class: 'btn btn-secondary' %>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.address %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.email %></td>
        <td>
          <%= link_to 'Show', patient_path(patient) %>
          <%= link_to 'Edit', edit_patient_path(patient) %>
         <%= button_to 'Delete', patient_path(patient), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Patient', new_patient_path %>
