<h1>Registered Patients</h1>
<%= link_to 'Sign out', destroy_user_session_path, method: :get, class: 'btn btn-secondary' %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Registered On</th>
    </tr>
  </thead>
   <%= line_chart Patient.group_by_day(:created_at, format: "%B %d, %Y").count, height: "500px" %>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.email %></td>
        <td><%= patient.created_at.to_date %></td>
      </tr>
     

    <% end %>
  </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
