<h1>Registered Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Registered On</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.email %></td>
        <td><%= patient.created_at.to_date %></td>
      </tr>
      <%= line_chart @patients_by_day, xtitle: "Date", ytitle: "Number of Patients" %>

    <% end %>
  </tbody>
</table>
